<template>
  <div class="container">
    <div class="q-pa-lg">
      <div class="Title text-h6 q-pb-sm">Marriage Records</div>
      <!-- Search container -->
      <div class="searchBar q-pb-md flex justify-between">
        <div class="div flex justify-between">
          <q-select
            outlined
            v-model="model"
            use-input
            hide-selected
            fill-input
            input-debounce="0"
            :options="options"
            @filter="filterFn"
            style="min-width: 66%"
            hide-dropdown-icon
            placeholder="Search Surname"
            class="q-pr-sm"
          >
            <template v-slot:no-option>
              <q-item>
                <q-item-section class="text-grey"> No results </q-item-section>
              </q-item>
            </template>
          </q-select>
          <!-- Filter Button Dropdown -->
          <q-btn-dropdown
            color="amber-5"
            icon="sort"
            label="Filter"
            style="height: 55px; min-width: 8%"
          >
            <q-list>
              <div class="title q-pa-md">Filter</div>
              <div class="filter q-pa-md">
                <div class="name">
                  <p>Sample</p>
                  <q-input class="text" outlined></q-input>
                </div>
                <div class="name">
                  <p>Sample</p>
                  <q-input class="text" outlined></q-input>
                </div>
                <div class="name">
                  <p class="q-pa-xs">Date</p>
                  <div class="div flex q-gutter-sm">
                    <q-input class="text" outlined width="200"></q-input>
                    <p>to</p>
                    <q-input class="text" outlined></q-input>
                  </div>
                </div>
              </div>
            </q-list>
          </q-btn-dropdown>
          <!-- Filter Button Dropdown END-->
        </div>
        <!-- Import Button -->
        <div class="div flex justify-end">
          <div class="div flex justify-end">
            <q-btn-group flat class="navbutton q-gutter-sm">
              <q-btn class="q-pa-md" size="16px" icon="upload" />
              <q-btn class="q-pa-md" size="16px" icon="download" />
              <q-btn
                class="q-pa-md"
                size="16px"
                color="amber-5"
                icon="add"
                to="/SecretaryDashboard/Marriage/MarriageAddData"
              >
                <q-tooltip class="bg-grey shadow-4" :offset="[10, 10]">
                  Add New Record
                </q-tooltip></q-btn
              >
            </q-btn-group>
          </div>
        </div>
        <!-- Import Button END -->
      </div>
      <!-- Search container End-->
      <div class="TABLE-DOCUMEN">
        <q-table
          flat
          bordered
          :rows="tbData"
          :columns="columns"
          row-key="index"
          style="height: 70vh"
          class="my-sticky-header-table"
          :dense="$q.screen.lt.md"
        >
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td key="index" :props="props">
                {{ props.row.MID }}
              </q-td>
              <q-td key="Date" :props="props">
                {{ props.row.Date_of_Marriage }}</q-td
              >
              <q-td key="Name" :props="props">
                <div class="name">
                  <p class="Bride q-mb-xs">
                    {{ props.row.Bride_Last_Name }},
                    {{ props.row.Bride_First_Name }}
                    {{ props.row.Bride_Middle_Name }}
                    &
                  </p>
                  <p class="Groom">
                    {{ props.row.Groom_Last_Name }},
                    {{ props.row.Groom_First_Name }}
                    {{ props.row.Groom_Middle_Name }}
                  </p>
                </div>
              </q-td>
              <q-td key="Priest" :props="props">
                {{ props.row.Assigned_Priest }}
              </q-td>
              <q-td key="Address" :props="props">
                <div class="name">
                  <p class="Bride q-mb-xs">
                    {{ props.row.Bride_Address }}
                  </p>
                  <p class="Groom">
                    {{ props.row.Groom_Address }}
                  </p>
                </div>
              </q-td>
              <q-td key="Action" :props="props">
                <div class="name flex-center">
                  <q-btn
                    flat
                    icon="visibility"
                    class="icon-view text-grey-7"
                    @click="ViewMarriageRow(props.row.MID)"
                  >
                    <q-tooltip class="bg-grey-8" :offset="[10, 10]">
                      View
                    </q-tooltip>
                  </q-btn>
                  <q-btn
                    flat
                    icon="edit"
                    class="icon-view text-grey-7"
                    @click="editMarriageData(props.row.MID)"
                  >
                    <q-tooltip class="bg-grey-8" :offset="[10, 10]">
                      edit
                    </q-tooltip>
                  </q-btn>
                  <q-btn
                    flat
                    icon="print"
                    class="icon-view text-grey-7"
                    @click="PrintMarriageData(props.row.MID)"
                  >
                    <q-tooltip class="bg-grey-8" :offset="[10, 10]">
                      Print
                    </q-tooltip>
                  </q-btn>
                </div>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </div>
    </div>
  </div>
</template>
<style scoped>
@import url("../../../css/Dashboard.scss");
</style>
<script src="../../SCRIPTS/ServicesScript.js"></script>
