<template>
  <div class="bg-grey-2">
    <div class="titlebar q-gutter-sm q-pa-sm">
      <div class="icon">
        <q-btn
          square
          flat
          color="grey-6"
          icon="arrow_back"
          @click="$router.go(-1)"
        />
      </div>
      <div class="Title text-h6 q-pl-lg text-weight-medium">
        Add Marriage Records
        <input
          type="file"
          style="display: none"
          id="randomFile"
          ref="files"
          @change="fileStore"
          accept=".docx, .pdf, .jpg, image/*"
        />
      </div>
      <input
        type="file"
        style="display: none"
        id="randomFile"
        ref="files"
        @change="fileStore"
        accept=".docx, .pdf, .jpg, image/*"
      />
    </div>
    <div class="recordsForm">
      <div class="q-pa-lg">
        <q-form
          @submit="onSubmit(MarriageData)"
          @reset="onReset(MarriageData)"
          class="form q-pa-sm bg-grey-1"
        >
          <div class="date0fmarriage text-h6 text-amber-6 q-ml-md">
            <div class="dom-title">Date of Marriage</div>
            <div class="inp">
              <q-input
                outlined
                v-model="MarriageData.Date_of_Marriage"
                lazy-rules
                :dense="true"
                :rules="[
                  (val) =>
                    (val && val.length > 0) || 'Please type your Last Name',
                ]"
              />
            </div>
          </div>
          <div class="Marriage-Title text-h6 text-amber-6 q-ml-md">
            Groom's Information
          </div>
          <div class="section">
            <div class="MarriageInput">
              <p class="text-grey-9 q-mb-xs text-subtitle">Last Name *</p>
              <q-input
                outlined
                v-model="MarriageData.Groom_Last_Name"
                lazy-rules
                :dense="true"
                :rules="[
                  (val) =>
                    (val && val.length > 0) || 'Please type your Last Name',
                ]"
              />
            </div>

            <div class="MarriageInput">
              <p class="text-grey-9 q-mb-xs text-subtitle">First Name *</p>
              <q-input
                outlined
                v-model="MarriageData.Groom_First_Name"
                lazy-rules
                :dense="true"
                :rules="[
                  (val) =>
                    (val && val.length > 0) || 'Please type your Last Name',
                ]"
              />
            </div>
            <div class="MarriageInput">
              <p class="text-grey-9 q-mb-xs text-subtitle">Middle Name</p>
              <q-input
                outlined
                v-model="MarriageData.Groom_Middle_Name"
                lazy-rules
                :dense="true"
                :rules="[
                  (val) =>
                    (val && val.length > 0) || 'Please type your Last Name',
                ]"
              />
            </div>
            <div
              class="parents flex flex justify-between q-mb-md"
              style="width: 100%"
            >
              <div class="MarriageInput q-mr-sm">
                <p class="text-grey-9 q-mb-xs text-subtitle">Suffix</p>
                <q-input
                  outlined
                  v-model="MarriageData.Groom_Suffix"
                  lazy-rules
                  :dense="true"
                />
              </div>
              <div class="MarriageInput">
                <p class="text-grey-9 q-mb-xs text-subtitle">Status*</p>
                <div class="listStatus q-ml-md">
                  <q-radio
                    name="shape"
                    color="amber"
                    v-model="MarriageData.Groom_Status"
                    val="1"
                    label="Single"
                  />
                  <q-radio
                    name="shape"
                    color="amber"
                    v-model="MarriageData.Groom_Status"
                    val="0"
                    label="Widow"
                  />
                </div>
              </div>
              <div class="MarriageInput">
                <p class="text-grey-9 q-mb-xs text-subtitle">Birth Date</p>
                <q-input
                  outlined
                  v-model="MarriageData.Groom_BirthDate"
                  mask="date"
                >
                  <template v-slot:append>
                    <q-icon name="event" class="cursor-pointer">
                      <q-popup-proxy
                        cover
                        transition-show="scale"
                        transition-hide="scale"
                      >
                        <q-date v-model="MarriageData.Groom_BirthDate">
                          <div class="row items-center justify-end">
                            <q-btn
                              v-close-popup
                              label="Close"
                              color="primary"
                              flat
                            />
                          </div>
                        </q-date>
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
              </div>
            </div>
            <div class="parents flex flex justify-between" style="width: 100%">
              <div class="MarriageInput">
                <p class="text-grey-9 q-mb-xs text-subtitle">Age</p>
                <q-input
                  outlined
                  v-model="MarriageData.Grooms_Age"
                  lazy-rules
                  :dense="true"
                  :rules="[
                    (val) =>
                      (val && val.length > 0) || 'Please type your Last Name',
                  ]"
                />
              </div>

              <div class="MarriageInput">
                <p class="text-grey-9 q-mb-xs text-subtitle">Father's Name</p>
                <q-input
                  outlined
                  v-model="MarriageData.Groom_Father"
                  lazy-rules
                  :dense="true"
                  :rules="[
                    (val) =>
                      (val && val.length > 0) || 'Please type your Last Name',
                  ]"
                />
              </div>
              <div class="MarriageInput">
                <p class="text-grey-9 q-mb-xs text-subtitle">Mother's Name</p>
                <q-input
                  outlined
                  v-model="MarriageData.Groom_Mother"
                  lazy-rules
                  :dense="true"
                  :rules="[
                    (val) =>
                      (val && val.length > 0) || 'Please type your Last Name',
                  ]"
                />
              </div>
              <div class="MarriageInput">
                <div class="text-grey-9 q-mb-xs flex">
                  <div class="address text-weight-regular">Address *</div>
                  <div class="Description text-grey-6">
                    Enter full address include City, Province
                  </div>
                </div>

                <q-input
                  outlined
                  v-model="MarriageData.Groom_Address"
                  lazy-rules
                  :dense="true"
                  :rules="[
                    (val) =>
                      (val && val.length > 0) || 'Please type your Last Name',
                  ]"
                />
              </div>
            </div>
          </div>
          <!-- Bride Record -->
          <div class="Marriage-Title text-h6 text-amber-6 q-ml-md">
            Bride's Information
          </div>
          <div class="section">
            <div class="MarriageInput">
              <p class="text-grey-9 q-mb-xs text-subtitle">Last Name *</p>
              <q-input
                outlined
                v-model="MarriageData.Bride_Last_Name"
                lazy-rules
                :dense="true"
                :rules="[
                  (val) =>
                    (val && val.length > 0) || 'Please type your Last Name',
                ]"
              />
            </div>

            <div class="MarriageInput">
              <p class="text-grey-9 q-mb-xs text-subtitle">First Name *</p>
              <q-input
                outlined
                v-model="MarriageData.Bride_First_Name"
                lazy-rules
                :dense="true"
                :rules="[
                  (val) =>
                    (val && val.length > 0) || 'Please type your Last Name',
                ]"
              />
            </div>
            <div class="MarriageInput">
              <p class="text-grey-9 q-mb-xs text-subtitle">Middle Name</p>
              <q-input
                outlined
                v-model="MarriageData.Bride_Middle_Name"
                lazy-rules
                :dense="true"
                :rules="[
                  (val) =>
                    (val && val.length > 0) || 'Please type your Last Name',
                ]"
              />
            </div>
            <div
              class="parents flex flex justify-between q-mb-md"
              style="width: 100%"
            >
              <div class="MarriageInput q-mr-sm">
                <p class="text-grey-9 q-mb-xs text-subtitle">Suffix</p>
                <q-input
                  outlined
                  v-model="MarriageData.Bride_Suffix"
                  lazy-rules
                  :dense="true"
                />
              </div>
              <div class="MarriageInput">
                <p class="text-grey-9 q-mb-xs text-subtitle">Status*</p>
                <div class="listStatus q-ml-md">
                  <q-radio
                    name="shape"
                    color="amber"
                    v-model="MarriageData.Bride_Status"
                    val="0"
                    label="Single"
                  />
                  <q-radio
                    name="shape"
                    color="amber"
                    v-model="MarriageData.Bride_Status"
                    val="2"
                    label="Widow"
                  />
                </div>
              </div>
              <div class="MarriageInput">
                <q-input
                  outlined
                  v-model="MarriageData.Bride_BirthDate"
                  mask="date"
                >
                  <template v-slot:append>
                    <q-icon name="event" class="cursor-pointer">
                      <q-popup-proxy
                        cover
                        transition-show="scale"
                        transition-hide="scale"
                      >
                        <q-date v-model="MarriageData.Bride_BirthDate">
                          <div class="row items-center justify-end">
                            <q-btn
                              v-close-popup
                              label="Close"
                              color="primary"
                              flat
                            />
                          </div>
                        </q-date>
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
              </div>
            </div>
            <div class="parents flex flex justify-between" style="width: 100%">
              <div class="MarriageInput">
                <p class="text-grey-9 q-mb-xs text-subtitle">Age</p>
                <q-input
                  outlined
                  v-model="MarriageData.Bride_Age"
                  lazy-rules
                  :dense="true"
                  :rules="[
                    (val) => (val && val.length > 0) || 'Please type the Age',
                  ]"
                />
              </div>

              <div class="MarriageInput">
                <p class="text-grey-9 q-mb-xs text-subtitle">Father's Name</p>
                <q-input
                  outlined
                  v-model="MarriageData.Bride_Father"
                  lazy-rules
                  :dense="true"
                  :rules="[
                    (val) =>
                      (val && val.length > 0) || 'Please type your Last Name',
                  ]"
                />
              </div>
              <div class="MarriageInput">
                <p class="text-grey-9 q-mb-xs text-subtitle">Mother's Name</p>
                <q-input
                  outlined
                  v-model="MarriageData.Bride_Mother"
                  lazy-rules
                  :dense="true"
                  :rules="[
                    (val) =>
                      (val && val.length > 0) || 'Please type your Last Name',
                  ]"
                />
              </div>
              <div class="MarriageInput">
                <div class="text-grey-9 q-mb-xs flex">
                  <div class="address text-weight-regular">Address *</div>
                  <div class="Description text-grey-6">
                    Enter full address include City, Province
                  </div>
                </div>

                <q-input
                  outlined
                  v-model="MarriageData.Bride_Address"
                  lazy-rules
                  :dense="true"
                  :rules="[
                    (val) =>
                      (val && val.length > 0) || 'Please type your Last Name',
                  ]"
                />
              </div>
            </div>
          </div>
          <!-- WITNESSES -->

          <div class="parentrec flex">
            <div class="w-record q-pa-sm">
              <div class="Marriage-Title text-h6 text-amber-6 q-mb-sm">
                Witnesses Information
              </div>
              <div class="sections flex q-gutter-md">
                <div class="MarriageInput">
                  <p class="text-grey-9 q-mb-xs text-subtitle">Name *</p>
                  <q-input
                    outlined
                    v-model="MarriageData.Groom_Testium_2"
                    lazy-rules
                    :dense="true"
                    :rules="[
                      (val) =>
                        (val && val.length > 0) || 'Please type your Last Name',
                    ]"
                  />
                </div>

                <div class="MarriageInput">
                  <p class="text-grey-9 q-mb-xs text-subtitle">Address *</p>
                  <q-input
                    outlined
                    v-model="MarriageData.Groom_T2_Address"
                    lazy-rules
                    :dense="true"
                    :rules="[
                      (val) =>
                        (val && val.length > 0) || 'Please type your Last Name',
                    ]"
                  />
                </div>
              </div>
              <div class="parentss flex q-gutter-md">
                <div class="MarriageInput">
                  <p class="text-grey-9 q-mb-xs text-subtitle">Name *</p>
                  <q-input
                    outlined
                    v-model="MarriageData.Bride_Testium_1"
                    lazy-rules
                    :dense="true"
                    :rules="[
                      (val) =>
                        (val && val.length > 0) || 'Please type your Last Name',
                    ]"
                  />
                </div>

                <div class="MarriageInput">
                  <p class="text-grey-9 q-mb-xs text-subtitle">Address *</p>
                  <q-input
                    outlined
                    v-model="MarriageData.Bride_T1_Address"
                    lazy-rules
                    :dense="true"
                    :rules="[
                      (val) =>
                        (val && val.length > 0) || 'Please type your Last Name',
                    ]"
                  />
                </div>
              </div>
            </div>
            <!-- others -->
            <div class="w-record q-pa-sm">
              <div class="Marriage-Title text-h6 text-amber-6 q-mb-sm">
                Other Information
              </div>
              <div class="sections flex q-gutter-md">
                <div class="MarriageInput q-mb-lg">
                  <p class="text-grey-9 q-mb-xs text-subtitle">Observanda</p>
                  <q-input outlined v-model="text" lazy-rules :dense="true" />
                </div>

                <div class="MarriageInput">
                  <p class="text-grey-9 q-mb-xs text-subtitle">Stipendium</p>
                  <q-input
                    outlined
                    v-model="MarriageData.Stipendium"
                    lazy-rules
                    :dense="true"
                  />
                </div>
              </div>
              <div class="parentss flex q-gutter-md">
                <div class="MarriageInput">
                  <p class="text-grey-9 q-mb-xs text-subtitle">Date</p>
                  <q-input
                    outlined
                    :dense="true"
                    v-model="MarriageData.Modified_at"
                    mask="date"
                  >
                    <template v-slot:append>
                      <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy
                          cover
                          transition-show="scale"
                          transition-hide="scale"
                        >
                          <q-date v-model="date">
                            <div class="row items-center justify-end">
                              <q-btn
                                v-close-popup
                                label="Close"
                                color="primary"
                                flat
                              />
                            </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </div>

                <div class="MarriageInput">
                  <p class="text-grey-9 q-mb-xs text-subtitle">
                    Assigned Priest
                  </p>
                  <q-input
                    outlined
                    v-model="MarriageData.Assigned_Priest"
                    lazy-rules
                    :dense="true"
                    :rules="[
                      (val) =>
                        (val && val.length > 0) || 'Please type your Last Name',
                    ]"
                  />
                </div>
              </div>
            </div>
            <!-- attachment container -->
            <div
              class="Attachments bg-grey-3 q-pa-sm q-mb-sm"
              style="width: 100%"
            >
              <div class="title-desc">
                <div class="Marriage-Title text-h6">Attachments</div>
                <div class="Description-1 text-grey-9 q-mb-sm">
                  Please attach the scanned requirements here *
                </div>
              </div>
              <div class="title-desc">
                <div class="Marriage-Title text-h6">Required Documents</div>
              </div>
              <!-- attachment field here-->
              <div class="files text-grey-9 q-mb-sm q-pa-sm">
                <!-- q file -->

                <div class="imgCon">
                  <div
                    v-for="(image, index) in images"
                    :key="index"
                    class="cardImg"
                  >
                    hhjh
                    <q-img
                      :src="image"
                      spinner-color="red"
                      class="imgsrc"
                      style="height: 140px; max-width: 150px"
                    ></q-img>
                  </div>
                  <q-btn class="filebtn" @click="pickFile" icon="add"></q-btn>
                </div>

                <input
                  ref="fileInput"
                  type="file"
                  style="display: none"
                  @change="handleFileUpload"
                />
              </div>
            </div>
          </div>

          <div class="submit flex">
            <div class="submitbtn">
              <q-btn label="Submit" type="submit" color="warning" />
            </div>
            <div class="cancel">
              <q-btn
                label="Cancel"
                type="reset"
                color="warning"
                flat
                class="q-ml-sm"
              />
            </div>
          </div>
        </q-form>
      </div>
    </div>
  </div>
</template>
<style scoped>
@import url("../../../css/AddMarriageStyle.scss");
</style>
<script src="../../SCRIPTS/Marriage.js"></script>
