<template>
  <div class="container" style="width: 100%">print</div>
  <!-- <q-btn icon="print" color="green" @click="print()"> </q-btn>
  <q-btn icon="arrow_back" color="green" @click="$router.go(-1)"> </q-btn> -->
</template>
<!-- <script src="../../SCRIPTS/MarriageScript.js"></script> -->
