<template>
  <div class="bg-grey-2">
    <div class="icon">
      <q-btn
        square
        flat
        color="grey-6"
        icon="arrow_back"
        @click="$router.go(-1)"
      />
    </div>
    <div class="title-edit flex justify-between q-pa-md">
      <div
        class="Title-header q-pl-lg text-h5 text-grey-8"
        v-for="Title in showMarriageData"
        :key="Title.MID"
      >
        {{ Title.Bride_First_Name }} & {{ Title.Groom_First_Name }},
        {{ Title.Groom_Last_Name }}'s Marriage Record
      </div>

      <!-- v-for="Marriage in showMarriage" :key="Marriage.MID -->
      <q-btn flat icon="edit" @click="enableDisable"></q-btn>
    </div>
    <div class="recordsForm">
      <div class="q-pa-lg">
        <q-form
          @submit="editMarriageData(Marriage)"
          class="form q-pa-sm"
          v-for="Marriage in showMarriageData"
          :key="Marriage.MID"
        >
          <div class="date0fmarriage text-h6 text-amber-6 q-ml-md">
            <div class="dom-title">Date of Marriage</div>
            <div class="inp">
              <q-input
                :disable="isDisable"
                outlined
                v-model="Marriage.Date_of_Marriage"
                mask="date"
              >
                <template v-slot:append>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy
                      cover
                      transition-show="scale"
                      transition-hide="scale"
                    >
                      <q-date v-model="Marriage.Date_of_Marriage">
                        <div class="row items-center justify-end">
                          <q-btn
                            v-close-popup
                            label="Close"
                            color="primary"
                            flat
                          />
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </div>
          </div>
          <div class="Marriage-Title text-h6 text-amber-6 q-ml-md">
            Groom's Information
          </div>
          <div class="section">
            <div class="MarriageInput">
              <p class="text-grey-9 q-mb-xs text-subtitle">Last Name *</p>
              <q-input
                :disable="isDisable"
                outlined
                v-model="Marriage.Groom_Last_Name"
                lazy-rules
                :dense="true"
                :rules="[
                  (val) =>
                    (val && val.length > 0) || 'Please type your Last Name',
                ]"
              ></q-input>
            </div>

            <div class="MarriageInput">
              <p class="text-grey-9 q-mb-xs text-subtitle">First Name *</p>
              <q-input
                :disable="isDisable"
                outlined
                v-model="Marriage.Groom_First_Name"
                lazy-rules
                :dense="true"
                :rules="[
                  (val) =>
                    (val && val.length > 0) || 'Please type your Last Name',
                ]"
              />
            </div>
            <div class="MarriageInput">
              <p class="text-grey-9 q-mb-xs text-subtitle">Middle Name</p>
              <q-input
                outlined
                :disable="isDisable"
                v-model="Marriage.Groom_Middle_Name"
                lazy-rules
                :dense="true"
                :rules="[
                  (val) =>
                    (val && val.length > 0) || 'Please type your Last Name',
                ]"
              />
            </div>
            <div
              class="parents flex flex justify-between q-mb-md"
              style="width: 100%"
            >
              <div class="MarriageInput q-mr-sm">
                <p class="text-grey-9 q-mb-xs text-subtitle">Suffix</p>
                <q-input
                  :disable="isDisable"
                  outlined
                  v-model="Marriage.Groom_Suffix"
                  lazy-rules
                  :dense="true"
                />
              </div>
              <div class="MarriageInput">
                <p class="text-grey-9 q-mb-xs text-subtitle">Status*</p>
                <!-- Radio Button -->
                <div class="listStatus q-ml-md">
                  <q-radio
                    name="shape"
                    color="amber"
                    v-model="Marriage.Groom_Status"
                    val="1"
                    label="Single"
                  />
                  <q-radio
                    name="shape"
                    color="amber"
                    v-model="Marriage.Groom_Status"
                    val="0"
                    label="Widow"
                  />
                </div>
              </div>
              <div class="MarriageInput">
                <p class="text-grey-9 q-mb-xs text-subtitle">Birth Date</p>
                <q-input
                  :disable="isDisable"
                  outlined
                  v-model="Marriage.Groom_Birthdate"
                  mask="date"
                >
                  <template v-slot:append>
                    <q-icon name="event" class="cursor-pointer">
                      <q-popup-proxy
                        cover
                        transition-show="scale"
                        transition-hide="scale"
                      >
                        <q-date v-model="Marriage.Groom_Birthdate">
                          <div class="row items-center justify-end">
                            <q-btn
                              v-close-popup
                              label="Close"
                              color="primary"
                              flat
                            />
                          </div>
                        </q-date>
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
              </div>
            </div>
            <div class="parents flex flex justify-between" style="width: 100%">
              <div class="MarriageInput">
                <p class="text-grey-9 q-mb-xs text-subtitle">Age</p>
                <q-input
                  outlined
                  :disable="isDisable"
                  v-model="Marriage.Grooms_Age"
                  lazy-rules
                  :dense="true"
                />
              </div>

              <div class="MarriageInput">
                <p class="text-grey-9 q-mb-xs text-subtitle">Father's Name</p>
                <q-input
                  outlined
                  :disable="isDisable"
                  v-model="Marriage.Groom_Father"
                  lazy-rules
                  :dense="true"
                  :rules="[
                    (val) =>
                      (val && val.length > 0) || 'Please type your Last Name',
                  ]"
                />
              </div>
              <div class="MarriageInput">
                <p class="text-grey-9 q-mb-xs text-subtitle">Mother's Name</p>
                <q-input
                  outlined
                  :disable="isDisable"
                  v-model="Marriage.Groom_Mother"
                  lazy-rules
                  :dense="true"
                  :rules="[
                    (val) =>
                      (val && val.length > 0) || 'Please type your Last Name',
                  ]"
                />
              </div>
              <div class="MarriageInput">
                <div class="text-grey-9 q-mb-xs flex">
                  <div class="address text-weight-regular">Address *</div>
                  <div class="Description text-grey-6">
                    Enter full address include City, Province
                  </div>
                </div>

                <q-input
                  outlined
                  :disable="isDisable"
                  v-model="Marriage.Groom_Address"
                  lazy-rules
                  :dense="true"
                  :rules="[
                    (val) =>
                      (val && val.length > 0) || 'Please type your Last Name',
                  ]"
                />
              </div>
            </div>
          </div>
          <!-- Bride Record -->
          <div class="Marriage-Title text-h6 text-amber-6 q-ml-md">
            Bride's Information
          </div>
          <div class="section">
            <div class="MarriageInput">
              <p class="text-grey-9 q-mb-xs text-subtitle">Last Name *</p>
              <q-input
                outlined
                :disable="isDisable"
                v-model="Marriage.Bride_Last_Name"
                lazy-rules
                :dense="true"
                :rules="[
                  (val) =>
                    (val && val.length > 0) || 'Please type your Last Name',
                ]"
              />
            </div>

            <div class="MarriageInput">
              <p class="text-grey-9 q-mb-xs text-subtitle">First Name *</p>
              <q-input
                outlined
                :disable="isDisable"
                v-model="Marriage.Bride_First_Name"
                lazy-rules
                :dense="true"
                :rules="[
                  (val) =>
                    (val && val.length > 0) || 'Please type your Last Name',
                ]"
              />
            </div>
            <div class="MarriageInput">
              <p class="text-grey-9 q-mb-xs text-subtitle">Middle Name</p>
              <q-input
                outlined
                :disable="isDisable"
                v-model="Marriage.Bride_Middle_Name"
                lazy-rules
                :dense="true"
                :rules="[
                  (val) =>
                    (val && val.length > 0) || 'Please type your Last Name',
                ]"
              />
            </div>
            <div
              class="parents flex flex justify-between q-mb-md"
              style="width: 100%"
            >
              <div class="MarriageInput q-mr-sm">
                <p class="text-grey-9 q-mb-xs text-subtitle">Suffix</p>
                <q-input
                  :disable="isDisable"
                  outlined
                  v-model="Marriage.Bride_Suffix"
                  lazy-rules
                  :dense="true"
                />
              </div>
              <div class="MarriageInput">
                <p class="text-grey-9 q-mb-xs text-subtitle">Status*</p>
                <div class="listStatus q-ml-md">
                  <q-radio
                    name="shape"
                    color="amber"
                    v-model="Marriage.Bride_Status"
                    val="0"
                    label="Single"
                  />
                  <q-radio
                    name="shape"
                    color="amber"
                    v-model="Marriage.Bride_Status"
                    val="2"
                    label="Widow"
                  />
                </div>
              </div>
              <div class="MarriageInput">
                <q-input
                  :disable="isDisable"
                  outlined
                  v-model="Marriage.Bride_Birthdate"
                  mask="date"
                >
                  <template v-slot:append>
                    <q-icon name="event" class="cursor-pointer">
                      <q-popup-proxy
                        cover
                        transition-show="scale"
                        transition-hide="scale"
                      >
                        <q-date v-model="Marriage.Bride_Birthdate">
                          <div class="row items-center justify-end">
                            <q-btn
                              v-close-popup
                              label="Close"
                              color="primary"
                              flat
                            />
                          </div>
                        </q-date>
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
              </div>
            </div>
            <div class="parents flex flex justify-between" style="width: 100%">
              <div class="MarriageInput">
                <p class="text-grey-9 q-mb-xs text-subtitle">Age</p>
                <q-input
                  outlined
                  :disable="isDisable"
                  v-model="Marriage.Bride_Age"
                  lazy-rules
                  :dense="true"
                />
              </div>

              <div class="MarriageInput">
                <p class="text-grey-9 q-mb-xs text-subtitle">Father's Name</p>
                <q-input
                  outlined
                  :disable="isDisable"
                  v-model="Marriage.Bride_Father"
                  lazy-rules
                  :dense="true"
                  :rules="[
                    (val) =>
                      (val && val.length > 0) || 'Please type your Last Name',
                  ]"
                />
              </div>
              <div class="MarriageInput">
                <p class="text-grey-9 q-mb-xs text-subtitle">Mother's Name</p>
                <q-input
                  outlined
                  :disable="isDisable"
                  v-model="Marriage.Bride_Mother"
                  lazy-rules
                  :dense="true"
                  :rules="[
                    (val) =>
                      (val && val.length > 0) || 'Please type your Last Name',
                  ]"
                />
              </div>
              <div class="MarriageInput">
                <div class="text-grey-9 q-mb-xs flex">
                  <div class="address text-weight-regular">Address *</div>
                  <div class="Description text-grey-6">
                    Enter full address include City, Province
                  </div>
                </div>

                <q-input
                  outlined
                  :disable="isDisable"
                  v-model="Marriage.Bride_Address"
                  lazy-rules
                  :dense="true"
                  :rules="[
                    (val) =>
                      (val && val.length > 0) || 'Please type your Last Name',
                  ]"
                />
              </div>
            </div>
          </div>
          <!-- WITNESSES -->

          <div class="parentrec flex">
            <div class="w-record q-pa-sm">
              <div class="Marriage-Title text-h6 text-amber-6 q-mb-sm">
                Witnesses Information
              </div>
              <div class="sections flex q-gutter-md">
                <div class="MarriageInput">
                  <p class="text-grey-9 q-mb-xs text-subtitle">Name *</p>
                  <q-input
                    :disable="isDisable"
                    outlined
                    v-model="Marriage.Groom_Testium_2"
                    lazy-rules
                    :dense="true"
                    :rules="[
                      (val) =>
                        (val && val.length > 0) || 'Please type your Last Name',
                    ]"
                  />
                </div>

                <div class="MarriageInput">
                  <p class="text-grey-9 q-mb-xs text-subtitle">Address *</p>
                  <q-input
                    :disable="isDisable"
                    outlined
                    v-model="Marriage.Groom_T2_Address"
                    lazy-rules
                    :dense="true"
                    :rules="[
                      (val) =>
                        (val && val.length > 0) || 'Please type your Last Name',
                    ]"
                  />
                </div>
              </div>
              <div class="parentss flex q-gutter-md">
                <div class="MarriageInput">
                  <p class="text-grey-9 q-mb-xs text-subtitle">Name *</p>
                  <q-input
                    :disable="isDisable"
                    outlined
                    v-model="Marriage.Bride_Testium_1"
                    lazy-rules
                    :dense="true"
                    :rules="[
                      (val) =>
                        (val && val.length > 0) || 'Please type your Last Name',
                    ]"
                  />
                </div>

                <div class="MarriageInput">
                  <p class="text-grey-9 q-mb-xs text-subtitle">Address *</p>
                  <q-input
                    :disable="isDisable"
                    outlined
                    v-model="Marriage.Bride_T1_Address"
                    lazy-rules
                    :dense="true"
                    :rules="[
                      (val) =>
                        (val && val.length > 0) || 'Please type your Last Name',
                    ]"
                  />
                </div>
              </div>
            </div>
            <!-- others -->
            <div class="w-record q-pa-sm">
              <div class="Marriage-Title text-h6 text-amber-6 q-mb-sm">
                Other Information
              </div>
              <div class="sections flex q-gutter-md">
                <div class="MarriageInput q-mb-lg">
                  <p class="text-grey-9 q-mb-xs text-subtitle">Observanda</p>
                  <q-input
                    :disable="isDisable"
                    outlined
                    v-model="Marriage.Observanda"
                    lazy-rules
                    :dense="true"
                  />
                </div>

                <div class="MarriageInput">
                  <p class="text-grey-9 q-mb-xs text-subtitle">Stipendium</p>
                  <q-input
                    :disable="isDisable"
                    outlined
                    v-model="Marriage.Stipendium"
                    lazy-rules
                    :dense="true"
                  />
                </div>
              </div>
              <div class="parentss flex q-gutter-md">
                <div class="MarriageInput">
                  <p class="text-grey-9 q-mb-xs text-subtitle">Date</p>
                  <q-input
                    outlined
                    :disable="isDisable"
                    :dense="true"
                    v-model="Marriage.Modified_at"
                    mask="date"
                  >
                    <template v-slot:append>
                      <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy
                          cover
                          transition-show="scale"
                          transition-hide="scale"
                        >
                          <q-date v-model="date">
                            <div class="row items-center justify-end">
                              <q-btn
                                v-close-popup
                                label="Close"
                                color="primary"
                                flat
                              />
                            </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </div>

                <div class="MarriageInput">
                  <p class="text-grey-9 q-mb-xs text-subtitle">
                    Assigned Priest
                  </p>
                  <q-input
                    outlined
                    :disable="isDisable"
                    v-model="Marriage.Assigned_Priest"
                    lazy-rules
                    :dense="true"
                    :rules="[
                      (val) =>
                        (val && val.length > 0) || 'Please type your Last Name',
                    ]"
                  />
                </div>
              </div>
            </div>
            <!-- attachment container -->
            <div
              class="Attachments bg-amber-2 q-pa-sm q-mb-sm"
              style="width: 100%"
            >
              <div class="title-desc">
                <div class="Marriage-Title text-h6">Attachments</div>
                <div class="Description-1 text-grey-9 q-mb-sm">
                  Please attach the scanned requirements here *
                </div>
              </div>
              <!-- attachment field here-->
              <div class="files text-grey-9 q-mb-sm q-pa-sm bg-amber-2">
                <!-- q file -->
                <q-file
                  v-model="files"
                  icon="attach"
                  outlined
                  multiple
                  append
                  style="max-width: 300px"
                >
                  <template v-slot:prepend>
                    <q-icon name="attach_file" />
                  </template>
                </q-file>
              </div>
            </div>
          </div>

          <div class="submit flex flex-end" v-if="!isHidden">
            <div class="submitbtn">
              <q-btn label="Save Changes" type="submit" color="warning" />
            </div>
            <div class="cancel">
              <q-btn
                label="Cancel"
                type="reset"
                color="warning"
                flat
                class="q-ml-sm"
              />
            </div>
          </div>
        </q-form>
      </div>
    </div>
  </div>
</template>
<script src="../../../pages/SCRIPTS/MarriageScript.js"></script>
