<template>
  <q-layout view="hHh Lpr lff" container style="height: 100vh">
    <q-page-container>
      <q-page class="main-container">
        <div class="LOGIN-FORM justify-center">
          <div class="BACKGROUND"></div>
          <!-- Create Account Info container -->
          <div class="LOG-INFO q-pa-lg">
            <div class="create-acccount-title">
              <q-btn class="text-grey-7" round icon="arrow_back" to="/" />
              <p
                class="q-pt-xs q-pl-md text-amber-6"
                style="font-size: 23px; font-weight: 500"
              >
                Setup your Account
              </p>
              <span class="text-grey-5 q-pa-md text-weight-small justify-start"
                >Provide us with some of your details</span
              >
            </div>
            <div class="create-account-body q-pa-lg q-pl-md q-gutter-xl">
              <!-- NAME -->
              <div class="input-field q-pb-sm">
                <p class="name q-pb-xs">Name</p>
                <q-input
                  outlined
                  v-model="AccountDataPayload.name"
                  :dense="dense"
                  required
                />
              </div>
              <!-- USERNAME -->
              <div class="input-field q-pb-sm">
                <p class="name q-pb-xs">Username</p>
                <q-input
                  outlined
                  v-model="AccountDataPayload.username"
                  :dense="dense"
                />
              </div>
              <!-- POSITION -->
              <div class="input-field q-pb-sm">
                <p class="name q-pb-xs">Position</p>
                <q-input
                  outlined
                  v-model="AccountDataPayload.position"
                  :dense="dense"
                />
              </div>
              <!-- PASSWORD CONTAINER-->
              <div class="input-field-pass q-pb-sm">
                <!-- PASSWORD -->
                <div class="pass">
                  <p class="name q-pb-xs">Password</p>
                  <q-input
                    v-model="AccountDataPayload.password"
                    outlined
                    :type="isPwd ? 'password' : 'text'"
                    :dense="dense"
                  >
                    <template v-slot:append>
                      <q-icon
                        color="amber-6"
                        :name="isPwd ? 'visibility_off' : 'visibility'"
                        class="cursor-pointer"
                        @click="isPwd = !isPwd"
                      />
                    </template>
                  </q-input>
                </div>
                <!-- CONFIRM PASSWORD -->
                <div class="pass q-pb-xs">
                  <p class="name q-pb-xs">Confirm Password</p>
                  <q-input
                    v-model="AccountDataPayload.confirm_password"
                    outlined
                    :type="isPwd ? 'password' : 'text'"
                    :dense="dense"
                  >
                    <template v-slot:append>
                      <q-icon
                        color="amber-6"
                        :name="isPwd ? 'visibility_off' : 'visibility'"
                        class="cursor-pointer"
                        @click="isPwd = !isPwd"
                      />
                    </template>
                  </q-input>
                </div>
                <!-- WARNING HERE -->
              </div>
              <div class="warning text-red-5">{{ warning }}</div>
              <!-- PASSWORD CONTAINER END -->
              <br />
              <span class="flex justify-center q-pb-md">Lorem, ipsum.</span>
              <div class="btn-grp">
                <q-btn
                  class="btn"
                  color="white"
                  text-color="amber-6"
                  label="Cancel"
                  transition="scale"
                />
                <q-btn
                  class="btn"
                  color="amber-6"
                  text-color="white"
                  @click="submit_Account_data(AccountDataPayload)"
                  label="Signup"
                />
              </div>
            </div>
          </div>
          <!-- Create Account Info container END -->
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<style lang="scss" scoped>
@import "../css/CreateUser.scss";
</style>
<script src="./SCRIPTS/createUserScript.js"></script>
