<template>
  <q-layout view="hHh Lpr lff" container style="height: 100vh">
    <q-header flat class="bg-grey-3 text-grey-9">
      <q-toolbar class="flex">
        <q-btn flat @click="drawer = !drawer" round dense icon="menu" />
        <q-toolbar-title class="text-h6 text-grey-9">LBRMSS</q-toolbar-title>

        <div class="notification q-pr-xl" style="font-size: 31px">
          <q-btn dense round flat icon="notifications">
            <q-badge color="red" floating transparent>
              <!-- No. of Notification -->
              1
            </q-badge>
          </q-btn>
        </div>
        <div class="account_name flex flex-center justify-end q-mr-md"></div>
        <div class="account">
          <q-avatar>
            <img src="https://cdn.quasar.dev/img/avatar.png" />
          </q-avatar>
          <q-btn-dropdown flat class="dropdown-btn">
            <div class="row no-wrap flex">
              <div class="column">
                <div class="text-h6 q-mb-md bg-amber-5">
                  <!-- Account content Here -->

                  <q-avatar
                    class="flex q-pt-lg"
                    style="width: 1.6em; height: 1.6em"
                  >
                    <img src="https://cdn.quasar.dev/img/avatar.png" />
                  </q-avatar>
                </div>
                <div class="profile-info q-pa-sm">
                  <p
                    class="User-Account text-center q-mt-sm"
                    style="font-size: small; font-weight: 600"
                  >
                    <!-- username -->

                    {{ $route.params.id }}
                    <br />
                    <span class="text-amber-6">
                      <!-- Position -->
                      Secretary</span
                    >
                  </p>
                  <q-list>
                    <q-item clickable v-ripple class="it-1">
                      <div class="item q-pa-xs">
                        <q-icon name="settings"></q-icon>
                      </div>
                      <div class="item q-pa-xs" style="width: 200px">
                        Account Settings
                      </div>
                    </q-item>

                    <q-item
                      clickable
                      v-ripple
                      class="text-red"
                      @click="logout()"
                    >
                      <div class="item q-pa-xs">
                        <q-icon name="logout"></q-icon>
                      </div>
                      <div class="item q-pa-xs" style="width: 200px">
                        Logout
                      </div>
                    </q-item>
                  </q-list>
                </div>
              </div>
            </div>
          </q-btn-dropdown>
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="drawer"
      show-if-above
      :mini="!drawer || miniState"
      @click.capture="drawerClick"
      :width="230"
      :breakpoint="500"
      bordered
      class="bg-grey-3"
    >
      <q-scroll-area class="fit" :horizontal-thumb-style="{ opacity: 0 }">
        <q-list padding>
          <q-item clickable v-ripple to="/SecretaryDashboard">
            <q-item-section avatar>
              <q-icon name="home" />
            </q-item-section>

            <q-item-section> Home </q-item-section>
          </q-item>

          <q-item clickable v-ripple to="/SecretaryDashboard/Events">
            <q-item-section avatar>
              <q-icon name="event" />
            </q-item-section>

            <q-item-section> Event Scheduling </q-item-section>
          </q-item>
          <q-expansion-item
            expand-separator
            icon="list_alt"
            label=" Clients Records"
          >
            <q-item clickable v-ripple to="/SecretaryDashboard/Marriage">
              <q-item-section avatar> </q-item-section>

              <q-item-section class="text-grey-8"> Marriage </q-item-section>
            </q-item>
            <q-item clickable v-ripple to="/SecretaryDashboard/Baptism">
              <q-item-section avatar> </q-item-section>

              <q-item-section class="text-grey-8"> Baptism </q-item-section>
            </q-item>
            <q-item clickable v-ripple to="/SecretaryDashboard/Records">
              <q-item-section avatar> </q-item-section>

              <q-item-section class="text-grey-8"> Confirmation</q-item-section>
            </q-item>
            <q-item clickable v-ripple to="/SecretaryDashboard/Records">
              <q-item-section avatar> </q-item-section>

              <q-item-section class="text-grey-8"> Burial </q-item-section>
            </q-item>
          </q-expansion-item>

          <q-item clickable v-ripple to="/Finance">
            <q-item-section avatar>
              <q-icon name="account_balance_wallet" />
            </q-item-section>

            <q-item-section> Financial Records</q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>
      <div class="q-mini-drawer-hide absolute" style="top: 15px; right: -17px">
        <q-btn
          dense
          round
          unelevated
          color="grey-3"
          icon="chevron_left"
          class="text-grey-5"
          @click="miniState = true"
        />
      </div>
    </q-drawer>

    <q-page-container>
      <router-view></router-view>
    </q-page-container>
  </q-layout>
</template>

<script src="../pages/SCRIPTS/Dashboard_Scripts.js"></script>
