<template>
  <q-layout view="hHh Lpr lff" container style="height: 100vh">
    <q-page-container>
      <q-page class="main-container">
        <div class="LOGIN-FORM justify-center">
          <div class="BACKGROUND"></div>
          <!-- Create Account Info container -->
          <div class="LOG-INFO q-pa-lg">
            <div class="create-acccount-title">
              <p class="q-pl-md q-pb-xl text-amber-7">LBRMSS</p>
              <p
                class="q-pt-xs q-pl-md text-grey-9"
                style="font-size: 23px; font-weight: 510"
              >
                Welcome
              </p>
              <span class="text-grey-5 q-pa-md text-weight-small justify-start"
                >Discover better ways to manage informations. Lets get
                started!</span
              >
            </div>
            <q-form @submit.prevent="login(loginData)">
              <div class="create-account-body q-pa-lg q-pl-md q-gutter-xl">
                <!-- NAME -->
                <div class="input-field q-pb-sm">
                  <p class="name q-pb-xs">Userame</p>
                  <q-input
                    outlined
                    v-model="loginData.username"
                    :dense="dense"
                    :rules="[(val) => !!val || 'Fill this shit out dumbass']"
                  />
                </div>
                <!-- USERNAME -->
                <div class="input-field q-pb-lg">
                  <div class="pass">
                    <p class="name q-pb-xs">Password</p>
                    <q-input
                      v-model="loginData.password"
                      ref="inputRef"
                      outlined
                      :type="isPwd ? 'password' : 'text'"
                      :dense="dense"
                      :rules="[
                        (val) => !!val || 'Fill this out you stupid punk!',
                      ]"
                    >
                      <template v-slot:append>
                        <q-icon
                          color="amber-6"
                          :name="isPwd ? 'visibility_off' : 'visibility'"
                          class="cursor-pointer"
                          @click="isPwd = !isPwd"
                        />
                      </template>
                    </q-input>
                  </div>
                </div>
                <!-- Loginbtn -->
                <div class="btn-grp q-pb-md">
                  <q-btn
                    class="btn"
                    color="amber-6"
                    text-color="white"
                    type="submit"
                    label="Login"
                  />
                </div>
                <div class="Login-note flex">
                  <span class="q-pa-sm">Doesn't have an account?</span>
                  <div class="Signup-btn">
                    <q-btn
                      flat
                      color="amber-6"
                      to="/CreateAccount"
                      class="q-ml-xs text-lowercase"
                      label="Sign up"
                    />
                  </div>
                </div>
              </div>
            </q-form>
          </div>

          <!-- Create Account Info container END -->
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<style lang="scss" scoped>
@import "../css/LoginPage.scss";
</style>
<script src="./SCRIPTS/LoginScript.js"></script>
