<template>
  <q-layout>
    <q-page-container>
      <q-page class="MAIN-CONTAINER q-pa-md" style="100vh">
        <div class="texttitle text-grey-8 text-h6">DASHBOARD</div>
        <div class="card-container" @load="onload">
          <q-card v-ripple class="card cursor-pointer q-hoverable">
            <q-card-section class="flex justify-between">
              <div class="title text-h5 q-pr-xl">Pending Schedule</div>
              <div class="number" v-if="data === 0">0</div>
              <div class="number" v-else>
                {{ data }}
              </div>
            </q-card-section>
          </q-card>
          <q-card v-ripple class="card2 cursor-pointer q-hoverable">
            <q-card-section class="flex justify-between">
              <div class="title text-h5 q-pr-xl">Upcoming Events</div>
              <div class="number">{{ data }}</div>
            </q-card-section>
          </q-card>
          <q-card v-ripple class="card cursor-pointer q-hoverable">
            <q-card-section class="flex justify-between">
              <div class="title text-h5">Requested Certificates</div>
              <div class="number">{{ data }}</div>
            </q-card-section>
          </q-card>
        </div>
        <div class="events-finance-container">
          <div class="eventcontainer q-pa-md">
            <div class="title text-h6 q-pb-md">Todays Events</div>
            <div class="todaysEvent q-gutter-md">
              <q-card
                v-ripple
                class="eventCard cursor-pointer q-hoverable"
                v-for="n in 15"
                :key="n"
              >
                <q-card-section class="cardToday">
                  <div class="Board text-h5 text-center q-pa-md q-mr-lg">
                    <div class="MERIDIAN text-weight-medium text-subtitle2">
                      AM
                    </div>
                    <div class="TIME text-weight-medium">13:00</div>
                  </div>
                  <div class="title text-h6">Requested Certificates</div>
                </q-card-section>
              </q-card>
            </div>
          </div>
          <div class="finance q-pa-sm">
            <div class="title text-h6">Finance</div>
            <div class="graph"></div>
          </div>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>
<style lang="scss" scoped>
@import "../../css/Dashboard.scss";
</style>
<script src="../SCRIPTS/HomePage.js"></script>
