@font-face {
  font-family: regPoppins;
  src: url("../css/poppins/Poppins-Regular.woff");
}
* {
  font-family: regPoppins;
}
.section {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}
.section > .MarriageInput {
  flex: 1 250px;
  margin-right: 1em;
  min-width: 250px;
}

.parents > .MarriageInput {
  flex: 1 250px;
  margin-right: 1em;
  min-width: 250px;
}
.sections > .MarriageInput {
  flex: 1 100px;
  margin-right: 1em;
}

.parentss > .MarriageInput {
  flex: 1 100px;
  margin-right: 1em;
}
.parentrec {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.w-record {
  min-width: 50%;
}
.Description {
  font-size: 10px;
  padding: 2.5px;
}
.files {
  min-width: 100%;
  flex: 1 100px;
  height: 20%;
  background-color: rgb(85, 85, 85);
}
.form {
  border-radius: 8px;
}
.date0fmarriage {
  max-width: 300px;
}
.Attachments {
  border-radius: 8px;
}
.filebtn {
  min-width: 150px;
  min-height: 150px;
  max-width: 250px;
  max-height: 250px;
  background-color: rgb(206, 206, 206);
}
.imgCon > .cardImg {
  background-color: azure;
  display: inline;
}
