.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
}
.card {
  color: white;
  flex: 1 0 200px;
  margin: 10px;
  text-align: start;
  height: 12em;
  background: linear-gradient(#ffd900, #ffd900);
}

.card2 {
  flex: 1 0 200px;
  margin: 10px;
  text-align: start;
  height: 12em;
  background: linear-gradient(#1f8b1c, #1f8b1c);
  color: white;
}

.number {
  font-size: 5em;
}
.events-finance-container {
  width: 100%;
  height: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.eventcontainer {
  flex: 1 0 200px;
  margin: 10px;
  height: 25em;
  text-align: start;
  height: 55vh;
  overflow-y: hidden;
}
.todaysEvent {
  padding: 1em;
  width: 100%;
  height: 97%;

  overflow-y: scroll;
}
.Board {
  color: white;
  width: auto;
  border-radius: 8px;
  background-color: #ffd900;
}
.cardToday {
  display: flex;
  flex-direction: row;
  padding: 9px;
}

.finance {
  flex: 1 0 200px;
  margin: 10px;
  text-align: start;
  height: 12em;
  background: rgb(231, 231, 231);
}
.my-sticky-header-table .q-table__top,
thead tr:first-child th {
  background-color: #ffc824;
  padding: 1em;
  text-align: center;
}
.searchBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.div {
  flex-wrap: nowrap;
  min-width: 46%;
}
.icon-view:hover {
  color: #ffd900;
}
.icon {
  width: 150px;
}
@media (max-width: 1000px) {
  .card,
  .card2 {
    flex-basis: calc(40% - 90px); /* set the basis to 50% minus the margin */
    height: 10em;
  }
  .number {
    font-size: 2em;
  }
}

@media (max-width: 700px) {
  .card,
  .card2,
  .eventcontainer,
  .finance {
    flex-basis: calc(100% - 20px); /* set the basis to 50% minus the margin */
  }
  .searchBar {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 1011px) {
  .eventcontainer,
  .finance {
    flex-basis: calc(100% - 20px); /* set the basis to 50% minus the margin */
  }
}
