* {
  margin: 0;
  overflow: hidden;
}
.main-container {
  background: rgb(221, 221, 221);
  padding: 3em;
}
.LOGIN-FORM {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-height: auto;
  margin: auto;
  align-self: center;
}
.LOGIN-FORM > .BACKGROUND {
  background: url("../css/LOGIN-IMG/LoginBG.jpg");
  width: 25em;
  background-position: 50%;
  background-size: cover;
}
.LOGIN-FORM > .LOG-INFO {
  background-color: rgb(248, 248, 248);
  width: 38em;
  flex-shrink: 1;
  height: 100%;
}
.input-field-pass {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.input-field-pass > .pass {
  flex-shrink: 1;
}
.btn-grp {
  width: 100%;
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
.btn-grp .btn {
  flex: 1;
}
.warning {
  position: absolute;
}
.it-1 {
  display: flex;
  flex-direction: row;
}
